.crest-card {
  @include flex-center(row);
  
  #crest {
    width: 30%;
  }
}

.card-wrapper {
  @include flex-center(column);
  .card {
    width: 18rem;
    text-transform: capitalize;
    .card-body {
      padding: 0.5rem 0;
    }
    .card-title {
      text-align: center;
      font-size: 35px;
      font-weight: bolder;
      margin: 0;
    }
  }
}

.back {
  margin-top: 1.5rem;
  width: 3em;
}

.list-group-item {
    padding: 0.2rem 1rem;
}

#Gryffindor {
  background-color: $red;
  border: 1px $yellow solid;
  div h5 {
    color: $yellow;
  }
  ul li {
    background-color: $red;
    color: $yellow;
    border: 1px $yellow solid;
  }
}

#Ravenclaw {
  background-color: #222f5b;
  border: 1px #5d5d5d solid;
  div h5 {
    color: #5d5d5d;
  }
  ul li {
    background-color: #222f5b;
    color: #5d5d5d;
    border: 1px #5d5d5d solid;
  }
}

#Hufflepuff {
  background-color: #ecb939;
  border: 1px #aaaaaa solid;
  div h5 {
    color: #aaaaaa;
  }
  ul li {
    background-color: #ecb939;
    color: #aaaaaa;
    border: 1px #aaaaaa solid;
  }
}

#Slytherin {
  background-color: #2a623d;
  border: 1px #aaaaaa solid;
  div h5 {
    color: #aaaaaa;
  }
  ul li {
    background-color: #2a623d;
    color: #aaaaaa;
    border: 1px #aaaaaa solid;
  }
}