.character-list {
  a {
    height: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    @include flex(row, flex-end, center);
    text-decoration: none;
    color: $yellow;
    transition: background-size 0.2s;
    font-size: 35px;
    // Effects
    &:hover {
      background-size: 45%;
    }

    // Media queries
    @media (min-width: 768px) {
      background-size: 60%;
      &:hover {
        background-size: 65%;
      }
    }

    @media (min-width: 992px) {
      background-size: 80%;
      &:hover {
        background-size: 90%;
      }
    }
  }
}

#dropdown, #search {
  height: 45px;
  width: 180px;
  border: 1px solid $red;
  margin-left: 35px;
  padding-left: 1rem;
  background-color: $red;
  color: $yellow;
  font-size: 35px;
}

#search::placeholder {
  color: $yellow;

}



