.card-wrapper {
  @include flex-center(column);

  .card {
    width: 18rem;
    font-family: cursive;
    text-transform: capitalize;
    .card-title {
      text-align: center;
      font-weight: bolder;
    }
    .card-img-top{
      height: 20rem;
    }
  }
  
}



