.character-list {
  a {
    height: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    @include flex(row, flex-end, center);
    text-decoration: none;
    color: $yellow;
    transition: background-size 0.2s;

    // Effects
    &:hover {
      background-size: 45%;
    }

    // Media queries
    @media (min-width: 768px) {
      background-size: 60%;
      &:hover {
        background-size: 65%;
      }
    }

    @media (min-width: 992px) {
      background-size: 80%;
      &:hover {
        background-size: 90%;
      }
    }
  }
}

#dropdown, #search {
  height: 40px;
  width: 200px;
  border: 10px solid $red;
  margin-left: 12px;
  background-color: $red;
  color: $yellow;
}

#search::placeholder {
  color: $yellow;

}



