
.nav-toggle {
  background: none;
  border: none;
  span {
    height: 3px;
    display: block;
    width: 40px;
    background: $red;
    margin-bottom: 3px;
  }
}

.modal {
  height: 8vw;
}

.modal-header {
  height: 8vw;
  background: $red;
  button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: $yellow;
  }
  nav {
    @include flex(row, left, left);
    a, span {
      color: $yellow;
      text-decoration: none;
      cursor: pointer;
      margin-right: 2rem;
      font-size: 55px;
    }
  }
}