
body{
  margin: 0;
  background-color: black;
  color: $yellow;
  font-family: 'Bigelow Rules', serif;
  font-size: 25px;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  @extend %flex-fill;
}

.centred {
  @extend %flex-fill;
  justify-content: space-evenly;
  align-items: center;
}

.btn-red {
  background-color: $red;
  color: $yellow;
  border: 1px solid $red;
  font-size: 35px;
  &:hover{
    background-color: transparent;
    color: $red;
    border: 1px solid $red;
  }
}